
footer {
    color: white;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    width: auto;
    height: 420px;
    left: 0px;
    right: 0px;
    justify-content: space-around;
    margin-left: 0%;
    /* bottom: 0px; */
}
.footer-top-wrapper {
    display: flex;
    margin: 0;
    padding: 15px;
    min-height: 160px;
    width: 100px;
    margin-right: 530px;
}
.footer-mid{
    font-family: 'quicksandbold';
    width: 500px;
    
}
.footer-mid h2{
    opacity: 1;
    font-weight: bold;
    color: #fff;
    font-size: 3em;
}
.footer-mid p{
    font-family: 'quicksandbold';
    font-weight: 200;
    font-size: 1.3em;
    width: 580px;
}
.footer-right{
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin-left: 10%;
    margin-top: 100px;
}
.footer-top-wrapper > section {
    width: 180px;
}

h2 {
    text-align: left;
    color: #3227a3;
    margin-top: 0px;
    margin-bottom: 16px;
    opacity: 0.7;
    font-size: 16px;
    font-weight: 600;
}

menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
    
}

menu li {
    margin-bottom: 16px;
}


.logo {
    width: 180px;
    margin-bottom: 8px;
}

.social-links {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 8px;
    width: 180px;
}

.social-links img {
    width: 35px;
    height: 35px;
}

.footer-top {
    position: relative; 
    max-width: 800px;
    top: 35px;

}

.footer-bottom {
    padding-top: 110px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 200px;
    margin: 0;
}

.footer-bottom > small {
    margin-top: 200px;
    width: 250px;
    font-size: 1em;
    margin: 0 4px;
}
.footer-bottom > h3{
    padding-bottom: 150px;
}
#submit1{
    font-family: 'robotob';
    font-size: 1em;
    height: 50px;
    width: 90px;
    color:white;
    background-color:  #5c9434;
    border-radius: 15px;
    margin-top: 20px;
    padding: 0px;
    border: none;
    margin-right: 30px;
}
#submit2{
    font-family: 'robotob';
    font-size: 1em;
    height: 50px;
    width: 180px;
    color:white;
    background-color:  #5c9434;
    border-radius: 15px;
    margin-top: 20px;
    padding: 0px;
    border: none;
    cursor: pointer;
}
#input_group input{
    padding: 0.75rem;
    width: 100%;
    all: unset;
    background-color: white;
}
#input_group button {
    background-color: #519725;
    border: none;
    padding: 0px 1.25rem;
    font-size: 1.125rem;
    height: 100%;
    width: 100%;

    border-radius: 0px 4px 4px 0px;
    cursor: pointer;
}
.text h3{
    font-family: 'quicksandbold';
    width: 380px;
    font-size: 1.9em;

}
.icon-footer{
    margin-top: 5%;
}
.icon-footer-mid1{
    display: flex;
    align-items: center;
    margin-top: 40px;
}
.icon-footer-mid2{
    display: flex;
    align-items: center;
    width: 300px;
    padding: 50px;
    margin-bottom: 70px;
}
.icon-footer-contato{
    width: 32px;
    height: 32px;
    margin-right: 5px;
}