@media screen and (max-width:1700px){
    .titulo-conteudo-informativo-p1 {
        font-family: 'quicksandbold';
        width: 100px;
        height: auto;
        padding: 10px;
        padding-right: 430px;
        padding-left: 50px;
        opacity: 1;
        align-items: center;
        color: white;
        display: flex;
        font-size: 2.8em;
    }
    .conteudo-p1{
        position: relative;
        right: 70px;
        
    }
    .conteudo-secundario-p3{
        font-size: 12px;
        
    }
    .conteudo-secundario-p2 {
        margin-left: 7%;

    }
    .primeiro-conteudo > h1{
 
        font-size: clamp(1.5em, 2.5em + 2vw, 5.8em);
        padding-bottom: 18px;
        line-height: 50px;
        font-family: 'quicksandbold'
        
        
    }
    .primeiro-conteudo > p{
        width: 89%;
        line-height: 25px;
        font-size: clamp(1em, 1.5em + 1vw, 1.5em);
        font-family: 'quicksandbold';
        font-weight: 400;
        margin-top: 1.5rem;
    }
    .gallery .card{
        width: 350px;
        height: 500px;

    }
    .git-p3{
        margin-left: 6%;
        }
        .conteudo-informativo-p3{
            margin-left: 8%; 
        }
        #submit {
            width: 21%;
        }
}
@media screen and (max-width:1500px){
    .footer-bottom{
        padding-right: 100px;
    }
    footer .footer-top p{
        width: 90%;
        height: 200px;     
    }
    footer{
        font-size: 15px;
    }
    .conteudo-secundario-p3 .titulo-conteudo-informativo-p1{
        padding-left: 0px;
        
    }
    .conteudo-p1{
        position: relative;
        top: -70px;
        padding-left: 45px;
    }
    .conteudo-secundario-p3{
        align-items: center;
        position: relative;
        top: 30px;
        font-size: 15px;
        flex-direction: column;
        padding-left: 200px;
        
    }
    .text1 {
        font-size: clamp(1.2em, 1.3em + 1vw, 1.5em);
        font-family: 'quicksandregular';
        font-weight: 600;
        color: white;
        padding-left: 40px;
    }
.subtitulo1 {
    font-family: 'quicksandregular';
    font-size: clamp(1.3em, 1.5em + 1vw, 1.5em);
    font-weight: 600;
    color: white;
    padding-left: 40px;
}
    .primeiro-conteudo > h1{
        font-size: clamp(1.5em, 2.5em + 2vw, 4em);
        padding-bottom: 8px;
        line-height: 50px;
        font-family: 'quicksandbold'
        
        
    }
    .primeiro-conteudo > p{
        width: 100%;
        line-height: 25px;
        font-size: clamp(1em, 1.5em + 1vw, 1.3em);
        font-family: 'quicksandbold';
        font-weight: 400;
        margin-top: 1.5rem;
    }
header{
    flex-direction: column;
}
main{
    margin: 0 auto;
    flex-direction: column;
}
aside{
    margin-top: 30px;
}
.text > h1{
    font-size: 38px;
}
.text > p{
    font-size: 23px;
}
form{
    width: 80%;
}
article > img{
width: 360px;
   

}
.gallery .card{
    width: 300px;
    height: 450px;

}

#primeiranav{
    margin-top: 25px;
    flex-direction: column;
    font-size: 15px;
}
#segundanav{
    font-size: 15px;
}
#submit{
    width: 26%;
    font-size: 17px;
}
}
/* RESPONSIVIDADE NAVBAR */
@media (max-width: 1200px){
    .footer-bottom{
        /* background: blue; */
        display: flex;
        justify-content: center;
        align-items: center; 
    }
    footer{
        font-size: 15px;
    }
    footer .footer-top p{
        width: 80%;
        height: 200px;
        
    }
    .conteudo-secundario-p2 {
        margin-left: 110px;

    }
    .titulo-conteudo-informativo-p2 {
        font-size: clamp(1.5em, 4em + 3vw, 4.9em);

    }
    
    .conteudo-informativo-3{
        height: 700px;
    }
    .text1{
        padding-left: 20px;
    }
    .icon img{
        width: 40px;
        height: 40px;
    }
    .conteudo-secundario-p1{
        position: relative;
        top: -40px;
        font-size: 12px;
    }
    .titulo-conteudo-informativo-p1{
        font-size: 20px;
        position: relative;
        right: 170px;
        padding-right: 0;
        padding-bottom: 50px;
    }
    .conteudo-p1{
        font-size: 12px;
        position: relative;
        right: 213px;
        margin-right: 5px;
        width: 100%;
    }
    .git-p2{
        position: relative;
        top: 20px;
        width: 45%;
        height: 50%;
    }
    .conteudo-secundario-p3{
        width: 45%;
    }
    .backg .center{
        top: 150px;
    }
    .gallery .card{
        width: 220px;
        height: 350px;
    
    }
    .primeiro-conteudo {
        font-size: 15px;
        width: 50%;
        height: 100%;
}
    #submit {
        width: 60%;
        font-size: 15px;
    }
    .nerus-imagem{
        width: 40%;
        height: 50%;
    }
    .conteudo-informativo-3{
        font-size: 12px;
    }
    .git-p3{
        width: 80%;
        height: 65%;
    }

    .navbar .links,
    .navbar .action_btn{
        display: none;
    }

    .navbar .toggle_btn{
        display: block;
    }
}
/* DROPDOWN MENU */
.dropdown_menu{
    display: none;
    position: absolute;
    right: 2rem;
    top: 60px;
    height: 0;
    width: 300px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.dropdown_menu.open{
    height: 240px;
}
.dropdown_menu li{
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.dropdown_menu .action_btn{
    width: 100%;
    display: flex;
    justify-content: center;
}
.dropdown_menu {
    display: block;
}

@media (max-width: 800px){
    .footer-bottom{
        /* background: blue; */
        display: flex;
        justify-content: center;
        align-items: center; 
    }
    footer{
        font-size: 12px;
    }
    footer .footer-top p{
        width: 60%;
        height: 150px;
        
    }
    .backg .center{
        top: 230px;
    }
    .conteudo-informativo-3{
        height: 500px;
    }
    .gallery .card{
        top: 80px;
        width: 10px;
        height: 300px;
    
    }
    .git-p3{
        height: 60%;
    }

    .conteudo-p1{
        
        
    }
    .conteudo-secundario-p3{
        width: 50%;
    }
    .conteudo-secundario-p2{
        width: 85%;
    }
    .dropdown_menu{
    left: 2rem;
    width: unset;
    }
}
@media (max-width: 774px){
}